@charset "UTF-8";

// Fonts

$default_font: "open-sans", Arial, sans-serif !default;
$header_font: "alegreya-sc", Arial !default;

// Colors

$background_color: #fff !default;
$foreground_color: #444 !default;

$highlight: #00466a !default;